*{margin: 0;padding: 0;}
body,html{
	width: 100%;
	background-color: #F1F3F8;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	
}
/* header区域 */
header{
	position: relative;
	width: 100%;
	height:75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
#h_log{
	margin-left: 350px;
	width: 250px;
	height: 75px;
	float: left;
}
#h_log>img{
	margin-top: 10px;
	width: 55px;
	height: 55px;
	display: inline-block;
}
#h_log>h2{
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 45px;
	padding-left: 25px;
	color: #54638F;
}
#h_menu{
	margin-left: 450px;
	float: left;
}
#h_menu::before{
	content:"";
	position: absolute;
	left: 900px;
	top: 10px;
	width: 15px;
	height: 60px;
	background-color: #415282;
}
#h_menu ul{
	
	width: 700px;
	height: 75px;
}

#h_menu ul li{
	float: left;
	line-height: 75px;
	height: 75px;
}
#h_menu ul li a{
	padding: 0 15px 0 15px;
	color: black;
	font-size: 15px;
}
#h_menu ul>li:nth-of-type(1)>a{
	color: #959EB9;
}
#h_content{
	padding: 25px;
	margin: auto;
	width: 1366px;
	height: 768px;
	background: url(img/bgcar.jpg) no-repeat  center;
	background-size: 100% 100%;
	background-color: white;
}
/* 大图 */
section{
	width: 100%;
	background-color: white;
	position: relative;
}
#h_btn{
	position: absolute;
	z-index: 999;
	width: 170px;
	height: 60px;
	line-height: 60px;
	color: white;
	font: 20px;
	border: 2px solid white;
	left: 50%;
	bottom: 35%;
	text-align: center;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
#h_title{
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: -50px;
	transform: translateX(-50%);
	left: 50%;
	width: 650px;
	height: 70px;
}
#h_title div{
	padding-top: 15px;
	height: 80px;
	background-color: white;
}
#h_title div>p{
	text-align: center;
}
#h_title div:nth-child(1){
flex: 2;
}
#h_title div:nth-child(2){
flex: 2;
}
#h_title div:nth-child(3){
flex: 2;
}
#h_title div:nth-child(4){
flex: 1;
background-image: url(./img/serach.png);
background-size: 100% 100%;
}
.num{
	font-size: 20px;
	width: 61%;
	display: inline-block;
	text-align: right;
	padding-right:5px;
}
#h_title div>span:nth-child(2){
	display:inline-block ;
	font-size: 12px;
}
#h_car{
	margin-top: 70px;
	width: 100%;
	padding-top: 25px;
	text-align: center;
}
#h_car p{
	padding-top: 25px;
}
#car_body{
	width: 60%;
	margin: auto;
	margin-top: 50px;
	position: relative;
}
#h_first{
	width: 200px;
	height: 350px;
	color: white;
	background-color: #415282;
}
.h_first{
	color: white;
	padding-left: 12px;
	font-size: 25px;
}
#car_content{
	position: absolute;
	width: 100%;
	height: 270px;
	display: flex;
	justify-content: space-between;
	top: 75px;
	left: 50px;
}
#car_content div{
	width: 250px;
	height: 100%;
	background-color: coral;
}
#car_content div>img{
	width: 100%;
	height: 100%;
}
#h_first1{
	width: 200px;
	height: 350px;
	color: white;
	position: absolute;
	right: -50px;
	background-color: #415282;
}
#car_content1{
	position: absolute;
	width: 100%;
	height: 270px;
	display: flex;
	justify-content: space-between;
	top: 75px;
	left: 0px;
}
#car_content div>img{
	width: 100%;
	height: 100%;
}
#h_img{
	margin: auto;
	width: 1366px;
	margin-top:450px ;
	height: 478px;
	background: url(./img/bgcar2.png)no-repeat  center;
	background-size: 100% 100%;
}
#news{
	width: 100%;
	padding-top: 25px;
	text-align: center;
}
.text{
	color: #6A779D;
}
#news p{
	padding-top: 25px;
}
#news_img{
	margin: auto;
	width: 1366px;
}
/* 关于我们 */
footer{
	margin-top: 50px;
	width: 100%;
	height: 200px;
	background-color: #FFFFFF;
}
footer h5{
	text-align: center;
}
#About{
	width: 1360px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
#About dl{
	display: block;
}
#About dt{
	padding-top: 15px;
	padding-bottom: 15px;
}
#About dd{
	font-size: 14px;
	color: #666666;
	height: 25px;
	line-height: 25px;
}